.bar-side-menu {
    background-color: #007480;
}

.bar-content {
    background-color: white;
}

.ion-navicon::before {
    color: #007480;
}

.bar-header .title {
    text-indent: -9999999px;
    background: url(https://mudle.mondragon.edu/img/mobile-logo.svg);
    background-attachment: absolute;
}

.ion-ionic:before {
    content: "\f3ea";
}

ion-side-menu .item{
    background-color: #007480;
    color: white;
}

ion-side-menu li.item {
    background-color: #FFFFFF
}

.ion-log-out {
    color: red;
}

/* 3.5 styles */

/* barra superior */
.toolbar-background-md {
    /*background: url(https://mudle.mondragon.edu/img/mobile-logo-new.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 40px 0px;*/
    background-color: #004851;
}
/* Letras barra superior */
.toolbar-title {
    color: #A5DDE5;
    /*padding: 0 80px;*/
}
/* Botones barra superior (atras, lupa...) */
.bar-button-clear-md-default, .bar-button-default-md, .bar-button-md-default {
    color: #A5DDE5;
}

/* barra inferior */
.tabs-md .tabbar {
    background-color: #004851;
}

/* iconos no seleciconados barra inferior */
.tabs-md .tabbar .tab-button-icon  {
    color: #A5DDE5;
}

/* iconos seleccionados barra inferior */
.tabs-md .tabbar .tab-button[aria-selected=true] .tab-button-icon  {
    color: #00A3AD;
}

/* avisos barra inferior */
.tabs-md .tabbar .badge-md {
    background-color: #FFFFFF;
    color: #004851;
}

/* elementos generales (listado cursos, actividades...) */
.item-md {
    color: #004851;
}
