.bar-side-menu {
    --ion-background-color: #007480;
}

.bar-content {
    --ion-background-color: #FFFFFF;
}

.ion-navicon::before {
    --ion-color-primary: #007480;
}

.bar-header .title {
    text-indent: -9999999px;
    --background: url(https://mudle.mondragon.edu/img/mobile-logo.svg);
    background-attachment: local;
}

.ion-ionic:before {
    content: "\f3ea";
}

ion-side-menu .item{
    --ion-background-color: #007480;
    --ion-color-primary: #FFFFFF;
}

ion-side-menu li.item {
    --ion-background-color: #FFFFFF;
}

.ion-log-out {
    --ion-color-primary: #FF0000;
}
